body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
    background-image: url('../images1/stars2.webp');
}

.header_text{
    font-family: 'Nunito';
    font-size: 55px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;

    /* Add text shadow for thickness and dark pink lining */
    text-shadow: 1px 0px 4px #20a6e9;

}
.text {
    font-family: 'Nunito';
    font-size: 35px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;

    /* Add text shadow for thickness and dark pink lining */
    text-shadow: 1px 0px 4px #20a6e9;
}


.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}